:root {
    --primary-color: #E1002A;
    --secondary-color: #4A63AD;
    --point-color: #333;
    --line-color: #ddd;
    --b-color: #333;
    --w-color: #fff;

    --inner-size: 129rem
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--b-color);
}

.inner {
    max-width: var(--inner-size);
    margin: 0 auto;
}